/* Style for the mat-toolbar */
mat-toolbar {
  background-color: #3f51b5; /* Primary toolbar color */
  color: white; /* White text color */
  padding: 10px 20px; /* Adds padding for spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  font-family: 'Roboto', sans-serif; /* Clean font style */
}

/* Style for the title in the toolbar */
mat-toolbar span:first-child {
  font-size: 24px;
  font-weight: bold;
}

/* Spacer to push buttons to the right */
.spacer {
  flex: 1 1 auto;
}

/* General button styles */
mat-toolbar button {
  font-size: 16px;
    color: white;
    margin-right: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 111px;
}

/* Hover effect for buttons */
mat-toolbar button:hover {
  background-color: #1e88e5; /* Lighter shade of blue on hover */
  color: #f0f0f0; /* Slightly lighter text on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Active button styles */
mat-toolbar button.active {
  background-color: #303f9f; /* Darker background for active button */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  mat-toolbar {
    flex-direction: column;
    text-align: center;
  }
  
  .spacer {
    display: none;
  }

  mat-toolbar button {
    margin-bottom: 10px;
  }
}
