<!-- src/app/app.component.html -->
<mat-toolbar appHighlight color="primary">
  <span>Shibla's Portfolio</span>
  <span class="spacer"></span>
  <button appTooltip="Click here" mat-button routerLink="/about">About Me</button>
  <button mat-button routerLink="/projects">Projects</button>
  <button mat-button routerLink="/education">Education</button>
  <button mat-button routerLink="/contact">Contact</button>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- app.component.html -->
<h1>Hello, portfolio</h1>
